.login {
    background-color: white;
    position: fixed;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 1200px;
}

.login>h1 {
    margin: auto;
    text-align: center;
}

.log-form {
    display: grid;
    justify-content: center; 
    align-items: center ;
    margin: auto; 
    padding: 20px; 
}

.loginp{
    width: 160px; 
    padding: 4px 6px; 
    margin: 10px 0px;
    border: 1px solid rgb(200, 200, 200); 
    border-radius: 4px; 

}

.logbut{
    margin: 10px 0px; 
    border: 0px; 
    background-color: black; 
    color: white; 
    padding: 10px ; 
    cursor: pointer; 
    border-radius: 10px; 
}


.signupsec{
    margin: auto; 
    font-size: large;
    text-align: center; 
    color: rgb(114, 114, 114);
    
}

.signlink{
    border: 0px; 
    background-color: unset; 
    font-size: large;
    color: rgb(94, 94, 255);
    cursor: pointer; 
}

.signlink:hover{
    color: rgb(0, 0, 202); 
    text-decoration: underline ;
}



