
.todo{
    display: grid; 
    margin: auto; 
    width: 100%; 
    justify-content: center; 
    align-items: center;
    position: absolute; 
    left: 0px; 
    top: 0px; 
    height: 1300px; 
    background-color: white; 
    text-align: center; 
}

.todo>input{
    width: 200px; 
    height: 18px; 
    padding: 4px ; 
    margin: auto; 
    font-size: large;
    outline: 0px; 
    border: 0px ; 
    border-bottom: 1px solid rgb(177, 177, 177) ; 
}


.infosave{
    margin: 10px 0px; 
    border: 0px; 
    background-color: black; 
    color: white; 
    padding: 10px ; 
    width: 180px;
    cursor: pointer; 
    border-radius: 10px; 
}





